/* import variables for website */

@import url(variables.css);

/* General styles */

.form-button {
    width: 100px;
    height: 40px;
    margin: 1em 3em 0.5em;
}

form {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
}

section {
    padding: 0 1em;
    margin: 3em auto;
}


/* Typography */

.section-title {
    font-weight: var(--fw-regular);
    text-align: center;
}

.section-subtitle--mail,
.section-subtitle--phone,
.section-subtitle--github {
    font-family: var(--ff-roboto);
    width: fit-content;
}

.section-comment {
    display: grid;
    grid-column-gap: 2em;
    grid-template-areas: 
        "name website"
        "comment comment";
    max-width: 1000px;
    justify-content: space-between;
    background: var(--clr-accent);
    padding: 0.5em 0.5em;
    margin: 1em auto 1em;
    border-radius: 1em;
}

.comment-name {
    grid-area: name;
    color: var(--clr-darker);
    font-family: var(--ff-code-pro);
    padding: 0 0.1em;
}

.comment-mail {
    color: rgb(0, 119, 255);
    text-decoration: none;
}

.comment-url {
    grid-area: website;
    text-align: right;
    color: grey;
    font-family: var(--ff-code-pro);
}

.comment {
    grid-area: comment;
    color: var(--clr-darker);
    font-family: var(--ff-sans-pro);
    padding: 0;
}

/* Contacts */

@media(min-width: 600px)
{
    #socials-list {
        display: flex;
    }
}

#socials-list {
    background: var(--clr-accent);
    font-size: var(--fs-h3);
    list-style: none;
    width: max-content;
    margin: 1em auto;
    padding: 0.5em;
    border-radius: 1em;
}

.socials-list-item {
    margin: 0em auto;
}

.socials-list-link {
    padding: 0.5em;
}

a {
    color: var(--clr-darker);
}

a:visited {
    color: dimgray;
}

a:hover,
a:focus {
    color: dodgerblue;
}