/* import variables for website */

@import url(variables.css);

/* General styles */

.form-button {
    width: 100px;
    height: 40px;
    margin: 1em 3em 0.5em;
}

/* center form and set max-width */
form {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
}

/* center sections and reduce padding */
section {
    padding: 0 1em;
    margin: 3em auto;
}


/* Typography */

.section-title {
    font-weight: var(--fw-regular);
    text-align: center;
}

/* width of the subtitles matches its content */
.section-subtitle--mail,
.section-subtitle--phone,
.section-subtitle--github {
    font-family: var(--ff-roboto);
    width: max-content;
}

/* comments styling */
/* element containing whole comment content */
.section-comment {
    background: var(--clr-accent);
    padding: 0.5em 0.5em;
    margin: 1em auto 1em;
    border-radius: 1em;
}

/* name of commenter */
.comment-name {
    color: var(--clr-darker);
    font-family: var(--ff-code-pro);
    padding: 0 0.1em;
}

/* url to commenter website */
.comment-url {
    font-family: var(--ff-code-pro);
}

/* comment content */
.comment {
    color: var(--clr-darker);
    font-family: var(--ff-sans-pro);
    padding: 0;
}

/* layout for comments,
put elements on the opposite sides, add accent 
background and max-width */
@media(min-width: 800px){

    .section-comment {
        display: grid;
        grid-column-gap: 2em;
        grid-template-areas: 
            "name website"
            "comment comment";
        max-width: 1000px;
        justify-content: space-between;
    }
    
    .comment-name {
        grid-area: name;
    }
    
    .comment-url {
        grid-area: website;
        text-align: right;
    }
    
    .comment {
        grid-area: comment;
    }
}

/* Contacts */

/* For small screen put list items vertically */

@media(min-width: 600px)
{
    #socials-list {
        display: flex;
    }
}

/* no style on the list, putting it 
horizontally with accent background */

#socials-list {
    background: var(--clr-accent);
    font-size: var(--fs-h3);
    list-style: none;
    width: max-content;
    margin: 1em auto;
    padding: 0.5em;
    border-radius: 1em;
}

.socials-list-item {
    margin: 0em auto;
}

.socials-list-link {
    padding: 0.5em;
}

/* Styling links */

a:link {
    color: var(--clr-darker);
}

a:visited {
    color: dimgray;
}

a:hover,
a:focus {
    color: dodgerblue;
}

a:active {
    color: red;
}

.comment-url:link {
    color: grey;
}

.comment-url:visited {
    color: dimgray;
}

.comment-url:hover,
.comment-url:focus {
    color: dodgerblue;
}

.comment-url:active {
    color: red;
}

.comment-mail:link {
    color: cornflowerblue;
}

.comment-mail:visited {
    color: dimgrey;
}

.comment-mail:hover,
.comment-mail:focus {
    color: dodgerblue;
}

.comment-mail:active {
    color: red;
}