/* @font-face */

@font-face {
    font-family: "Roboto";
    src: "../Fonts/Roboto";
}

@font-face {
    font-family: "PT_Sans";
    src: "../Fonts/PT_Sans";
}

@font-face {
    font-family: "Oswald";
    src: "../Fonts/Oswald";
}

@font-face {
    font-family: "Dosis";
    src: "..Fonts/Dosis";
}

@font-face {
    font-family: "Baloo_2";
    src: "../Fonts/Baloo_2";
}