/* import variables for website */

@import url(variables.css);

/* general styles */

img {
    display: block;
    max-width: 100%;
}

/* typography */

.section-title--intro {
    font-weight: var(--fw-regular);
}

.section-subtitle--intro,
.section-subtitle--additional {
    background: var(--clr-accent);
    padding: 0.25em 1em;
    font-family: var(--ff-code-pro);
    margin-bottom: 1em;
}

/* General info */

.section-title strong {
    display: block;
}

.general-info {
    position: relative;
}

.image-intro {
    box-shadow: var(--box-shadow);
}

@media(min-width: 1100px) {
    .general-info {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "image title"
            "image subtitle";
        grid-template-columns: min-content max-content;
    }

    .image-intro {
        grid-area: image;
        min-width: 400px;
        position: relative;
        z-index: 2;
    }

    .section-subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        
        position: relative;
        left: -2em;
        width: calc(100% + 3em);
    }
}

/* Additional info */

.additional-info {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.about-me-body {
    font-size: var(--fs-h3);
    font-family: var(--ff-sans-pro);
    margin: 1.5em 0em;
}

#blue-color {
    color: cyan;
}

#link-dostoevsky {
    color: var(--clr-light);
}

#link-dostoevsky:visited {
    text-decoration: none;
    color: var(--clr-light);
}
  
#link-dostoevsky:hover {
    text-decoration: underline;
    color: lime;
}

/* Date and time */

#current-date {
    font-size: var(--fs-h3);
    font-family: var(--ff-sans-pro);
    color: var(--clr-light);
    text-align: center;
}