/* import variables for website */

@import url(variables.css);

/* general styles */

img {
    display: block;
    max-width: 100%;
}

/* typography */

.section-title--skill,
.section-title--files {
    font-weight: var(--fw-regular);
}

/* Skills */

.skill,
.files {
    max-width: 1200px;
    margin: 0 auto;
}

.section-title--skill,
.section-subtitle--skill,
.section-title--files,
.section-subtitle--files {
    text-align: center;
}

@media(min-width: 800px) {
    
    .section-title--skill {
        grid-area: title;
        padding: 0.25em;
    }
    
    .section-subtitle--skill {
        grid-area: subtitle;
        padding: 0.5em;
    }

    .skill-left {
        display: grid;
        grid-template-columns: 350px 1fr;
        grid-column-gap: 2em;
        grid-template-areas: 
            "image title"
            "image subtitle";
    }

    .skill-right {
        display: grid;
        grid-template-columns: 1fr 350px;
        grid-column-gap: 2em;
        grid-template-areas: 
            "title image"
            "subtitle image";
    }

    .skill-left-languages {
        display: grid;
        grid-template-columns: 1fr 500px;
        grid-column-gap: 2em;
        grid-template-areas: 
            "image title"
            "image subtitle"
            "image list";
    }

    .image-skills {
        grid-area: image;
        min-width: 200px;
        text-align: center;
        vertical-align: center;
    }
}

#language-list,
#file-list {
    list-style: none;
    text-align: center;
    font-family: var(--ff-sans-pro);
    font-weight: var(--fw-medium);
}

.section-title--add-skill {
    text-align: center;
    margin-bottom: 1em;
}

.add-skill {
    max-width: 1000px;
    margin: 0 auto;
}

.form-button {
    width: 150px;
    margin: 0.5em 2em;
}