/* import variables for website */

@import url(variables.css);

/* typography */

.section-title--snake {
    text-align: center;
    background-color: var(--clr-accent);
    color: var(--clr-darker);
    width: max-content;
    padding: 0.5em;
    margin: 0 auto;
    border-radius: 1em;
}

/* reducing the padding */
section {
    padding: 2em 1em;
}

/* create accent border around game window and center it */
canvas {
    display: block;
    border-style: solid;
    border-radius: 2px;
    border-color: var(--clr-accent);
    margin: 0 auto;
    justify-content: center;
}

/* adjust game window to be seen on every screen width */
@media(max-width: 400px) {
    canvas {
        width: 90%;
    }
}

@media(max-width: 800px) {
    canvas {
        width: 90%;
    }
}

@media(max-width: 1400px) {
    canvas {
        width: 80%;
    }
}

@media(max-width: 1600px) {
    canvas {
        width: 70%;
    }
}




