/* import fonts so that thay can be used in this stylesheet */

@import url(./fonts.css);

/* Variables */

:root {
    --ff-roboto: "Roboto", sans-serif;
    --ff-sans-pro: "Sans", sans-serif;
    --ff-code-pro: "Code", monospace;

    --fw-regular: 400;
    --fw-medium: 600;
    --fw-bold: 700;

    --clr-light: #F2F2F2;
    --clr-darker: #1F2833;
    --clr-background: #222629;
    --clr-dark: #303030;
    --clr-accent: rgb(238, 221, 67);


    --fs-h1: 1.8rem;
    --fs-h2: 1rem;
    --fs-h3: 0.8rem;
    --fs-body: 0.7rem;

    --box-shadow: 0.25em 0.25em 0.75em RGBA(0,0,0,0.25);
}

/* Changes for bigger screens */

@media(min-width: 800px)
{
    :root {
        --fs-h1: 3.25rem;
        --fs-h2: 2.5rem;
        --fs-h3: 1.4rem;
        --fs-body: 1rem;
    }
}

@media(min-width: 1200px)
{
    :root {
        --fs-h1: 3.75rem;
        --fs-h2: 3rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.0675rem;
    }
}

@media(min-width: 1601px)
{
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.75rem;
        --fs-body: 1.125rem;
    }
}

/* Body properties */

body {
    background: var(--clr-background);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-roboto);
    font-size: var(--fs-body);
    line-height: 1.6;
}

/* Navigation bar */

.header-area .main-menu .nav-item .nav-link {
    font-family: var(--ff-roboto);
    text-transform: uppercase;
    font-weight: var(--fw-bold);
}

/* General styles */

strong { font-weight: var(--fw-bold) }

em { font-weight: var(--fw-medium) }

/* Headers */

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }

h2 { font-size: var(--fs-h2) }

h3 { font-size: var(--fs-h3) }

/* Sections */

section {
    padding: 3em 1em;
}

/* subtitles with custom font size, font family,
font color, background, centered automatically */
.section-subtitle {
    font-size: var(--fs-h3);
    font-family: var(--ff-code-pro);
    color: var(--clr-darker);
    background: var(--clr-accent);
    padding: 0.25em 1em;
    margin: 0.5em auto;
    border-radius: 1em;
 }