/* Variables */

:root {
    --ff-roboto: "Roboto";
    --ff-sans-pro: 'Source Sans Pro', sans-serif;
    --ff-code-pro: 'Source Code Pro', monospace;


    --fw-regular: 400;
    --fw-medium: 600;
    --fw-bold: 800;

    --clr-light: #F2F2F2;
    --clr-darker: #1F2833;
    --clr-background: #222629;
    --clr-dark: #303030;
    --clr-accent: #86C262;

    --fs-h1: 3.25rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.4rem;
    --fs-body: 1rem;

    --box-shadow: 0.25em 0.25em 0.75em RGBA(0,0,0,0.25);
}

/* Changes for bigger screens */

@media(min-width: 800px)
{
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.75rem;
        --fs-body: 1.125rem;
    }
}

/* Body properties */

body {
    background: var(--clr-background);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-roboto);
    font-size: var(--fs-body);
    line-height: 1.6;
}

/* General styles */

strong { font-weight: var(--fw-bold) }

em { font-weight: var(--fw-medium) }

/* Headers */

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }

h2 { font-size: var(--fs-h2) }

h3 { font-size: var(--fs-h3) }

/* Sections */

section {
    padding: 5em 2em;
}

.section-title {
    margin-bottom: 0.25em;
}

.section-subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    color: var(--clr-darker);
}